header{
    background-color: #005087;
    background-image: linear-gradient(#0081bc, #005087);
}

nav{
    margin: 0 4rem;
}

a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: white;
}

header h1{
    margin: 4rem 0 0 10rem;
    padding-bottom: 4rem;
    color: white;
}

a:hover{
    color: #000000;
}

nav a{
    display: flex;
    align-items: center;
}

nav img{
    width: 150px;
    height: 150px;
}

nav p{
    margin-left: 3rem;
    font-size: 2rem;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.query{
    display: flex;
    margin: 4rem 0;
}

/* Search Box */

.search-box{
    width: 40%;
    box-shadow: 5px 5px 5px lightgrey;
    padding-bottom: 60vh;
}

.map-box{
    width: 50%;
    margin-left: 3rem;
    box-shadow: 5px 5px 5px lightgrey;
}

.input-group{
    width: 80% !important;
    border-left: solid 4px #e4a535 !important;
}

.fakeimg {
    height: 200px;
    background: #aaa;
  }
    body { margin: 0; padding: 0; }
    #map { position: relative; top: 0; bottom: 0; width: 100%; height: 600px;}

.results{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.result-box{
    max-width: 25%;
    margin: 1rem;
    padding-bottom: 1rem;
    border-bottom: solid 4px #0081bc;
    color: #0081bc;
}

.stop-tag{
    background-color: #0081bc;
    color: white;
    padding: 0.5rem;
}

.result-box img{
    width: 100%;
}

.result-box p{
    font-size: 1.3rem;
}

.download{
    border-radius: 5px;
    margin: 3rem  auto;
}

.download-btn{
    background-color: #0081bc;
    color: white;
    padding: 1rem 2rem;
}

.download-btn:hover{
    background-color: #005087;
    color: white;
}

